*{
	margin: 0px;
	padding: 8px;
	box-sizing: border-box;
}
body{
	font-family: 'Montserrat', sans-serif;
}

.padre{
	display: flex;
	flex-flow: column nowrap;
}
.margen-interno{
	padding: 0 50px;
}


.header{
	background: url(imagenes/dir.jpg);
	background-position: center;
	background-attachment: contain;
	background-size: cover;
	display: flex;
	flex-flow: column nowrap;
}
.menu{
background: rgba(0, 0, 0, 1.);
display: flex;
flex-flow: row nowrap;
height: 30px;
align-items: center;
}
.logo{
	
	flex: 1 1 auto;
	
}
.logo a{
	color: #ffff;
}
.nav{
	
	flex: 5 1 auto;

	
}
.nav a{
	color: #fff;
	font-size: 15px;
	text-transform: uppercase;
	padding: 0 10px;
	letter-spacing: 2px;
}
.social{
	
	flex: 1 1 auto;

}
.social a{
	font-size: ;
}

.texto-principal{
	height: 200px;
	display: flex;
	align-items: center;
	
}
h1{
	font-family: 'Lora', sans-serif;
	font-size: 38px;
	color:#0014FF;
	font-weight: 50;
	text-align: center;
	line-height: 1.6;
}
.section{
	background: #f7f7f7;
	display: flex;

}
.articulos{
	background: #f7f7f7;
	flex: 2  auto;
	display: flex;
	flex-flow: row wrap;
}
.article{
	
	flex: 1 1 40%;
	color: #0014FF;
	font-size: 13px;
	letter-spacing: 1px;
	margin: 10px 10px 0 0px;
	flex: 1 1 45%;
	background: #ececec;
}
.article img{
	width: 100%;
}
h3{
	color: #CF0A0A;
	font-size: 20px;
	letter-spacing: -80;
}
h2{
	font-size: 25px;
	text-transform: uppercase;
	padding: 0px 0 10px 0;
	color: #285430;
}
.navegacion{
	background: #000;
	flex: 1 1 100%;
	margin: 10px 10px 0 0px;
}
.navegacion a{
	color: #fff;
	font-size: 30px;
	text-transform: uppercase;
	padding: 0 10px;
	letter-spacing: 2px;
}
.footer{
	background: #000;
	display: flex;
	justify-content: center;
	margin-top: 10px;
}
.pie{
	background: #FBFACD;
	text-align: center;

}
.pie{
	color: #fff;
	font-size: 15px;
	text-transform: uppercase;
	padding: 0 10px;
	letter-spacing: 2px;
}


@media all and (max-width:1300px){
	.section{
		flex-direction: column;
	}
}
.menu{
	flex-direction: column;
	height: auto;
}
h1{
	font-size: 30px;
}
.texto-principal{
	height: 200px;
}

@media all and (max-width:669px){
	.articulos{
		flex-direction: column;
	}
}

